.warp{
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 13;
   
    border-color: white;
}
.warp-item{
    margin-bottom: 15px;
}
.warp-list{
    display: flex;
    border: 1px solid;
    padding-top: 15px;
    padding-left: 20px;
}
.wrap-list-item ul{
    display: flex;
}
.wrap-list-item ul li{
    margin-right: 15px;
    /* background-color: aqua; */
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid;
}
.wrap-list-item ul li:hover{
    border-color: red;
    cursor: pointer;
}
.filter-content{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}